<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/userProfile.css">
</head>

<body>
    <div class="container">

        <div class="welcome-page">
            <h1>welcome to your profile</h1>

            <a class="logout-button" href="/logout">Logout</a>

        </div>

        <div>
            <div class="profile">
                <% if (loggedUserData) { %>
                    <h1>
                        Hello <%= loggedUserData.userName %>
                    </h1>
                    <p>
                        <%= loggedUserData.userMail %>
                    </p>

                    <a href="/showDetails" class="details-button">show details</a>

                    <% if (detailsExists) { %>
                        <div class="">
                            <h2>Age : <%=userDetails?.age %></h2>
                            <h2>City :<%= userDetails?.city %></h2>
                            <h2>Street :<%= userDetails?.street%></h2>
                            <h2>Pin :<%= userDetails?.pin %></h2>
                            <h2>House Number :<%= userDetails?.houseNumber %></h2>
                        </div>
                        <!-- <form action="/updateUserDetails" method="post"> -->
                            <!-- </form> -->
                            <button class="showUpdateForm" >Update Profile</button>
                    <% } %>

                <% } %>
            </div>
        </div>
        <% if (detailsExists) { %>
            <div class="form-container">
        
                
                <form action="/updateUserDetails" method="post" class="update-detail-form">
                    <input type="text" name="age" placeholder="Enter your age" value="<%=userDetails?.age %>">
                    <input type="text" name="city" placeholder="Enter your city" value="<%= userDetails?.city %>">
                    <input type="text" name="street" placeholder="Enter your street" value="<%= userDetails?.street%>">
                    <input type="text" name="pin" placeholder="Enter your pin" value="<%= userDetails?.pin %>">
                    <input type="text" name="houseNumber" placeholder="Enter your house number" value="<%= userDetails?.houseNumber %>">
                    
                    <button type="submit" >Submit</button>
                </form>

                <a href="/cancelFormUpdate" class="cancel">cancel</a>
            </div>
            <% } %>
    </div>
    
    <script>
        const showForm = document.querySelector('.showUpdateForm')
        const updateDetailForm = document.querySelector('.form-container')

        showForm.addEventListener('click' , ()=> {
            updateDetailForm.style.display = "flex"   
        })
    </script>
</body>

</html>